#title{
  font-family: sans-serif;
 text-align: center;
  font-size: 22pt; 
}
.background {
 background:#F0F0F0  ;
  
}
.badypage{
 color: #A4A400 ;
   font-size: 11pt; 
   font-family: Georgia, Garamond;
}
h1{
  font-family: "Lucida Sans Unicode", Helvetica, Arial;
  color: #A4A400 ;
  font-size: 30pt; 
  text-decoration: underline;
}
.body{
  color:#404040 ;
  font-size: 11pt
  font-family: Georgia, Garamond;
}
em{
  text-decoration: underline;
  
}
span{
 visibility: hidden;
}
span : hover div
{
visibility: visible;
}




